
<p class='moduletitle'>Admin Page </p>
<div class='side_tabs'>
    
    <a class="side_tab-links " id="user_tab" href="/user" >User </a>
    <a  class="side_tab-links " id="election_tab" href="/" >Election</a>
    <a href="/logout" style="float:right" >Logout</a>

</div>
