<!DOCTYPE html>
<html lang="en">
    <head>

        <%- include('./partials/header');%>
    </head>
    <body onload="essentials(),checkDate()">
  <header id="header"> </header>
<%- include('./partials/nav'); %>
 

<div id='result' class="tab-content">

    
    </div>


    <footer id="footer"></footer>
      <script> 
        
        var i= document.getElementById("results");
        
        i.className +=" active";


        
        </script>
</body>
</html>