
<p class='pagetitle'> User Page </p>

<div class='tabs'>
    
    <a class="tab-links " id= "user_info" href="/user" >Show all</a>
    <a  class="tab-links " id ="adduser" href="/addUser" >Add</a>
</div>