<!DOCTYPE html>
<html lang="en">
    <head>

        <%- include('./partials/header');%>
    </head>
    <body onload="essentials()">
  <header id="header"> </header>
<%- include('./partials/nav'); %>



<div id='showall' class="tab-content">
<p>this is election page</p>
</div>






      <footer id="footer"></footer>
      <script> 
        var i= document.getElementById("showall");
        
        i.className +=" active";
         </script>
</body>
</html>