<p class='pagetitle'>Verifier Admin Page </p>
<div class='tabs'>
    
    
    <a class="tab-links" id="audit" href="/verifier" >Audit</a>
    <a class="tab-links" id="results" href="/results" >Results</a>

</div>